extends layout.pug 

block title 
    title Pug Template

block content
    section
        ul
            li Metamask
            li OKX 
            li Trust Wallet
        br
        a(href=`/whitelist`) Randomize